*.geojson text eol=lf
meta/wof-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-us-il-concordances-latest.csv filter=lfs diff=lfs merge=lfs -text
meta/wof-venue-us-il-latest.csv filter=lfs diff=lfs merge=lfs -text
